# .xprofile

# Enable transparent windows
xcompmgr &

# Ignore error if mouse device wasn't found
xinput --set-prop "pointer:Razer Razer DeathAdder Chroma" "libinput Accel Speed" -.7 > /dev/null

# Set key repeat speed
xset r rate 220 40

# Status bar configuration
if [ -f ~/dotfiles/.bar ]; then
	while true; do	
		local bar=$(. ~/dotfiles/.bar | sed ':a;N;$!ba;s/\n/,/g')
		xsetroot -name "${bar}"
		sleep 1
	done &
fi

# Wallpaper configuration (feh is required)
local wallpaper_path=~/Pictures/Wallpapers/Etc
local wallpaper_change=0
local wallpaper_change_interval=120     # Interval in seconds
if [[ -d ${wallpaper_path} ]] && [[ ${wallpaper_change} == 1 ]] ; then
	watch -n ${wallpaper_change_interval} feh --randomize --bg-fill "${wallpaper_path}/*" &> /dev/null &!
fi

# Keybindings
sxhkd &
